.root {
  flex-basis: 200px;
}

.root a {
  display: block;
  padding: 0 .5em;
  font-size: 20px;
  line-height: 1.5;
  font-weight: bold;
  color: #454545;
  text-decoration: none;
  border-radius: 2px;
  overflow: hidden;
}

.root a:hover {
  background-color: #454545;
  color: #fff;
  cursor: pointer;
}
