.root {
  display: flex;
  justify-content: center;
}

.resizer {
  resize: horizontal;
  overflow: auto;
}

.width {
  position: relative;
  margin-bottom: 1em;
  font-family: monospace;
  color: #1ea7fd;
  text-align: center;
}

.width::before {
  content: '';
  position: absolute;
  top: 1.25em;
  display: block;
  width: 100%;
  height: .5em;
  border: 1px solid #1ea7fd;
  border-bottom: 0;
  border-radius: 4px 4px 0 0;
}

.grid {
  display: grid;
}
