.root {
  margin: 0 auto;
}

.wrap {
  display: flex;
  flex-flow: row;
  min-height: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #f1f1f1;
  font-size: 7px;
}

.width {
  position: relative;
  margin-bottom: 1em;
  font-family: monospace;
  color: #ddd;
  text-align: center;
}

.width::before {
  content: '';
  position: absolute;
  top: 1.25em;
  display: block;
  width: 100%;
  height: .5em;
  border: 1px solid #aaa;
  border-bottom: 0;
  border-radius: 4px 4px 0 0;
}
